#playerBoard,#computerBoard {
    display: grid;
    grid-template-columns: repeat(10,1fr);
}


#computerBoard {
    margin-top: 50px;
}

.green {
    background-color: green;
}

.hit {
    background-color: red;
}

.miss {
    background-color: gray;
}